body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

section.results {
  min-height: 10rem;
  height: auto;
}

h2.display-6 {
  font-size: 1.7rem;
}
