<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="text-center">
    <h1 class ="display-1 m-5">Welcome to our Online Dictionary!</h1>

    <form class = "border mx-5" action="/submit" method="get">
            <h2 class = "display-6 m-4">Find Meaning To Your Word</h2>
            <label for="word">Enter your Word Here:</label>
            <input type="text" name="word" id="word" placeholder="English"><br>
            <button class="btn btn-primary my-4" type="submit">Find Meaning</button>
        </fieldset>    
    </form>

    <section class="results border m-5"></section>
    
</form>
</body>
</html>