<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="text-center">
    <h1 class ="display-2 m-5">Welcome to our Online Dictionary!</h1>

    <form class = "border mx-5" action="/submit" method="post">
            <h2 class = "display-6 m-4">Find Meaning To Your Word</h2>
            <label for="word">Search:</label>
            <input type="text" name="word" id="word" placeholder="English"><br>
            <button class="btn btn-primary my-4" type="submit">Find Meaning</button>
        </fieldset>    
    </form>

    <section class="results border mx-5 my-4">
        <h2 class = "display-6 m-2">Result(s):</h2>
        
        <% if (defs) { %>
            <ul>
                <% defs.forEach(function(each){ %>
                    <li><%= each['definition'] %></li>
                <% }) %>
            </ul>
        <% } %>
    </section>
    <footer class="bg-light text-center text-lg-start">
    <!-- footer -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
             © 2021 Copyright:
            <b><a class="text-dark" href="http://davedict2021.herokuapp.com/">Dave Dict</a></b>
        </div>
    <!-- End footer -->
    </footer>
</form>
</body>
</html>
