<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="text-center">
    <h1 class ="display-1 m-5">Welcome to our Online Dictionary!</h1>
    <section class="results border mx-5 my-4">
        <h2 class = "display-6 m-2">Meaning of Word Searched:</h2>
            <h2><%= definitions %></h2>
    </section>
    
</form>
</body>
</html>